<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluecoreservices.anxietymonitor2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <service android:name="service.dasa_notifications"> </service>
        <receiver android:name="service.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".listadoTerapeutas"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bluecoreservices.anxietymonitor2.login_principal" />
        </activity>
        <activity
            android:name=".ListadoPacientes"
            android:label="@string/app_name"
            android:parentActivityName=".login_principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bluecoreservices.anxietymonitor2.login_principal" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bluecoreservices.anxietymonitor2.login_principal" />
        </activity>
        <activity
            android:name=".add_therapist"
            android:label="@string/add_therapist_sub_title"
            android:parentActivityName=".listadoTerapeutas"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bluecoreservices.anxietymonitor2.listadoTerapeutas" />
        </activity>
        <activity
            android:name=".add_patient"
            android:label="@string/add_patient_sub_title"
            android:parentActivityName=".ListadoPacientes"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bluecoreservices.anxietymonitor2.ListadoPacientes" />
        </activity>
        <activity
            android:name=".add_dasa"
            android:label="@string/add_dasa_sub_title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bluecoreservices.anxietymonitor2.MainActivity" />
        </activity>
        <activity
            android:name=".login_principal"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
